<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Jacket Inventory</title>
</head>
<body>
    <div id="header">
        <h1 class="h1">CHECK THIS OUT!</h1>
    </div> 
    <div class="box-container">
        <div id="box-1">
            
        </div>
        <div id="box-2">
         
        </div>
    </div>
    
    
</body>
</html>

